body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #5b5e6d;
}
input::placeholder {
  color: black;
}
/* btn class bor button submit */
.btn{
  margin: 5px 0px 0px 15px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: white;
  height: 35px;
}
.email{
  margin-left: 15px !important;
  border-width: 0px 0px 1.5px 0px;
  border-color: rgb(158, 158, 158);
  height: 42px;
  transition: 0.1s;
}
/* email:focus for animation on click at the input email */
.email:focus {
  border-bottom: 1px solid #7cb342 !important;
  box-shadow: 0 1px 0 0 #7cb342 !important;
  transition: 0.1s;
 }
 /*edit- responsive-img is class for the materialize */
.img-responsive{
  width: 57%;
  /* margin-top: 6%; */
  /* margin-bottom: 6%;
  /* height: 387.9px; */
}

/* Design for the default message dev */
.message{
padding: 7px;
height: 50%;
width: 50%;
border-radius: 10px;
box-shadow: 0 0 5px #333;
margin-bottom: 15px;
}
/* mce-success class for the error message  */
.mce-error{
  padding: 10px;
margin: 5px;
  box-shadow: 0 0 5px #333;
  border-radius: 5px;
}
/* mce-success class for the success message  */
.mce-success{
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0 5px #333;
  border-radius: 5px;
}
.firstRow{
margin: 0px !important;
}
.flow-text {
  width: 80%;
  font-size: 21px;
  font-family: Slack-Averta,appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
    letter-spacing: normal;
}
