.header{
  position: relative;
  height: 100px !important;
}
svg{
  /*margin: 5px;*/
  width: 100%;
  /*height: 300px;*/
}
input::placeholder {
  color: black;
}
.btn{
  margin-left: 15px !important;
}
.email{
  margin-left: 15px !important;
}
.text{
  margin: 10px;
}
.footer{
	box-shadow: 0 0 5px #333;
  height: 100px !important;
  position: relative;
}
.email:focus {
  border-bottom: 1px solid #7cb342 !important;
  box-shadow: 0 1px 0 0 #7cb342 !important;
 }
.img{
  height: 100%;
  width: 100%;
  margin-top: 30%;
  box-shadow: 0 0 5px #333;
}
/*.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}*/
