body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.header{
  position: relative;
  height: 60px !important;
}
svg{
  width: 100%;
}
input::placeholder {
  color: black;
}
.btn{
  margin-left: 15px !important;
}
.email{
  margin-left: 15px !important;
}
.text{
  margin: 10px;
}
.footer{
	box-shadow: 0 0 5px #333;
  height: 60px !important;
}

.email:focus {
  border-bottom: 1px solid #7cb342 !important;
  box-shadow: 0 1px 0 0 #7cb342 !important;
 }
.responsive-img{
  margin-top: 6%;
  margin-bottom: 6%;
  box-shadow: 0 0 9px #333;
  height: 100%;
  width: 90%;
}
