
body {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /*flex: 1 0 auto;*/
}

.header{
  position: relative;
  height: 60px !important;
  width: 100%;
}
svg{
  width: 50%;
}


/*
  MailChimp Form 
*/

input::placeholder {
  color: black;
}

.btn{
  margin-left: 15px !important;
}
.email{
  margin-left: 15px !important;
}
.text{
  margin: 10px;
}
.footer{
	box-shadow: 0 0 5px #333;
  height: 60px !important;
  width: 100%;
}

.email:focus {
  border-bottom: 1px solid #7cb342 !important;
  box-shadow: 0 1px 0 0 #7cb342 !important;
 }

/*.responsive-img{
  margin-top: 6%;
  margin-bottom: 6%;
  width: 70%;
}*/
.copy-right{
  font-size: 16px;
  color: white;
  margin-left: 15px;
}

.mce-error{
  /*height: 60px;*/
  padding: 10px;
margin: 5px;
  box-shadow: 0 0 5px #333;
  border-radius: 5px;
}

.mce-success{
  margin: 5px;
  /*height: 60px;*/
  padding: 10px;
  box-shadow: 0 0 5px #333;
  border-radius: 5px;
  /*background-color: green;*/

}
.animated-logo{
 margin: 0px !important;
 width: 100%;
 text-align: center; 
}
.flow-text {
  margin-top: 0px !important;
  /*text-align: justify;*/
  padding: 10px;
}

/*img{
  margin-top: 0px !important;
}*/

.image-frame {
  text-align: center; 
  vertical-align: middle; 
  height: 100%; 
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
